<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--
     Copyright (C) 2023 The LineageOS Project

     SPDX-License-Identifier: Apache-2.0
-->
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mediatek.SettingsProviderResOverlay.x6812"
    <overlay 
        android:isStatic="true"
        android:priority="1"
        android:targetPackage="com.android.providers.settings" />
    <application 
        android:extractNativeLibs="false"
        android:hasCode="false" />

</manifest>

